:root {
    --red: #E50914;
    --black: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    font-family: 'Arial', Times, serif;
    background: var(--black);
    color: white;
}

header .container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background: var(--black);
}

header .logo {
    margin-left: 5px;
    font-family: 'Arial Black', Times;
    color: var(--red);
    font-size: 42px;
}

header #smaller-logo {
    font-size: 30px;
}

header nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #AAA;
}

header nav a:hover {
    color: #fff;
}

/*filme principal*/

.filme-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/assets/imgs/ahs-capa.jpg');
    height: 400px;
    background-size: cover;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes {
    margin-top: 5px;
}

.item {
    cursor: pointer;
}